body {
    padding: 10px;
}

form {
    margin: 10px 0px;
}

.errorlist {
    color: red;
    size: 8px;
}

.form-listing {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}

.img-thumbnail {
    max-width: 200px;
    max-height: 200px;
}

.watchlist {
    margin: 0px 10px;
    padding: 5px 5px 5px 40px;
    background-size: 30px;
    background-position: 5px;
    background-repeat: no-repeat;
    border: 1px solid black;
}

.watchlist-selected {
    background-image: url("watchlist_selected.png");
}

.watchlist-unselected {
    background-image: url("watchlist.png");
}

@media (min-width: 870px) {
    .form-listing {
        width: 850px;
    }

    .comments {
        width: 850px;
    }
}