{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul>
        {% for listing in listings %}
            <li> 
                <div>
                    <a href="{% url 'auctions:listing' listing.id %}" >{{ listing.title }} </a>
                    £{{ listing.starting_bid }}
                </div>
                <img src={{ listing.image_URL}}>
                <div>{{ listing.description }}</div>
            </li>
        {% empty %}
            <li>No results found</li>
        {% endfor %}
    </ul>

{% endblock %}