{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul>
        {% for listing in listings %}
            <li> 
                <div>
                    <a href="{% url 'auctions:listing' listing.id %}" >{{ listing.title }} </a>
                    
                    {% for key, value in bids.items %}
                        {% if key == listing.id %}
                            {% if value %}
                                £{{ value.bid_amount }}
                            {% else %}
                                £{{ listing.starting_bid }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                {% if listing.image_URL %}
                    <img class="img-thumbnail" src={{ listing.image_URL}}>
                {% endif %}
                <div>{{ listing.description }}</div>
            </li>
        {% empty %}
            <li>No results found</li>
        {% endfor %}
    </ul>

{% endblock %}