{% extends "auctions/layout.html" %}

{% block message %}
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
{% endblock %}

{% block body %}
    <div class="btn-toolbar justify-content-between">
        <h2>{{ listing.title }}</h2>
        {% if user.is_authenticated %}
                <form action="{% url 'auctions:watchlist' %}" method="post">
                    {% csrf_token %}
                    <button
                    {% if watchlist == True %}
                        class="btn btn-success"
                    {% else %} 
                        class="btn btn-primary"
                    {% endif %}
                    type="submit" value="{{ listing.id }}" name="listing">
                        watchlist
                    </button>
                </form> 
        {% endif %}
    </div>
    <div>
        <img src={{ listing.image_URL }}>
        <p>{{ listing.description }}</p>
    </div>
    <h4>Bids</h4>
    <div>
        Current bid:
        {% if bid %}
            £{{ bid.bid_amount }}
        {% else %}
            £{{ listing.starting_bid }}
        {% endif %}
        
    </div>
    <h4>Comments</h4>
{% endblock %}