{% extends "auctions/layout.html" %}

{% block body %}
    <ul class="nav">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <form action="{% url 'auctions:watchlist' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" value="{{ listing.id }}" name="watchlist" 
                        {% if watchlist == True %}
                            class="btn btn-light watchlist watchlist-selected"
                        {% else %} 
                            class="btn btn-light watchlist watchlist-unselected"
                        {% endif %}
                    > Watchlist
                    </button>
                </form> 
            </li>
        {% endif %}
        <li class="nav-item"> <h2>{{ listing.title }}</h2> </li>
    </ul>
    <div>
        <img src={{ listing.image_URL }}>
        <p>{{ listing.description }}</p>
    </div>
    {% if user.id == listing.owner_id and listing.active %}
        <div class="form-group">
            <form action="{% url 'auctions:listing' listing.id %}" method="post">
                {% csrf_token %}
                <button class="form-group-item btn btn-danger" type="submit" value="{{ listing.id }}" name="close">
                    Close Listing
                </button>
            </form>
        </div>
    {% endif %}

    <h4>Bids</h4>

    {% if listing.active %}
        <p>Current bid: £{{ bid }}</p>
    {% else %}
        {% if user.id == bid_item.user_id %}
            <p>Congratulations! You won the auction on this item with a bid of £{{ bid }}</p>
        {% else %}
            <p> The auction has now ended and the item has been sold. </p>
        {% endif %}
    {% endif %}
    {% if user.is_authenticated and user.id != listing.owner_id and listing.active %}
        {% if user.id != bid_item.user_id %}
            <form action="{% url 'auctions:listing' listing.id %}" method="post">
                {% csrf_token %}
                {{ form_bid.non_field_errors }}
                {% for field in form_bid %}
                    {% if field.id_for_label == "id_bid_amount" %}
                        <h6>{{ field.label_tag }}</h6>
                    {% endif %}
                    <div class="form-group">
                        {{ field }}
                        {% if field.help_text %}
                            <p class="form-group-item help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div> 
                    {{ field.errors }}
                {% endfor %}
                <button type="submit" class="btn btn-primary" name="submit_bid">Submit bid</button>
            </form>
        {% else %}
            <p>Your bid is currently winning!</p>
        {% endif %}
    {% endif %}



    <h4>Comments</h4>
    <ul class="list-group comments">
        {% for comment in comments %}
            <li class="list-group-item">
                {{ comment.comment }}
            </li>
        {% empty %}
            <p>No comments, be the first to say something!</p>
        {% endfor %}
    </ul>

    {% if user.is_authenticated and listing.active %}
        <form action="{% url 'auctions:listing' listing.id %}" method="post">
            {% csrf_token %}
            {{ form_comment.non_field_errors }}
            {% for field in form_comment %}
                {% if field.id_for_label == "id_comment" %}
                    <h6>{{ field.label_tag }}</h6>
                {% endif %}
                <div class="form-group">
                    {{ field }}
                    {% if field.help_text %}
                        <p class="form-group-item help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div> 
                {{ field.errors }}
            {% endfor %}
            <button type="submit" class="btn btn-primary" name="submit_comment">Comment</button>
        </form>
    {% endif %}
{% endblock %}