{% extends "auctions/layout.html" %}

{% block message %}
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
{% endblock %}

{% block body %}
    <ul class="nav">
        <li class="nav-item"> <h2>{{ listing.title }}</h2> </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <form action="{% url 'auctions:watchlist' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" value="{{ listing.id }}" name="watchlist" id="watchlist"
                        {% if watchlist == True %}
                            class="btn btn-success">
                                Remove from watchlist
                        {% else %} 
                            class="btn btn-primary">
                                Add to watchlist
                        {% endif %}
                    </button>
                </form> 
            </li>
        {% endif %}
        {% if user.id == listing.owner_id %}
            <li class="nav-item">
                <form action="{% url 'auctions:listing' listing.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit" value="{{ listing.id }}" name="close">
                        Close Listing
                    </button>
                </form>
            </li>
        {% endif %}
    </ul>
    <div>
        <img src={{ listing.image_URL }}>
        <p>{{ listing.description }}</p>
    </div>

    <h4>Bids</h4>
    <div>
        Current bid:
        {% if bid %}
            £{{ bid.bid_amount }}
        {% else %}
            £{{ listing.starting_bid }}
        {% endif %}
    </div>



    <h4>Comments</h4>

{% endblock %}