{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    <ul class="list-group">
        {% for entry in watchlist %}
            <li class="list-group-item"> 
                <div>
                    <a href="{% url 'auctions:listing' entry.listing.id %}"> {{ entry.listing.title }} </a>
                    {% for key, value in bids.items %}
                        {% if key == entry.listing.id %}
                            {% if value %}
                                £{{ value.bid_amount }}
                            {% else %}
                                £{{ entry.listing.starting_bid }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div>
                    {% if entry.listing.image_URL %}
                        <img class="img-thumbnail" src={{ entry.listing.image_URL }}>
                    {% else %}
                        <img class="img-thumbnail" src="/static/auctions/noimage.png">
                    {% endif %}
                </div>
                <div>
                    {{ entry.listing.description }}
                </div>
            </li>
            {% empty %}
                <li>No items in watchlist</li>
        {% endfor %}
    </ul>
{% endblock %}